.form-container {
  padding: 30px;
  
  h3 {
    margin-bottom: 25px;
    color: #333;
    font-size: 1.3rem;
  }
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
  
  button {
    min-width: 140px;
  }
}

mat-form-field {
  ::ng-deep .mat-mdc-form-field {
    width: 100%;
  }
}
